$orangeGradient: linear-gradient(-60deg, #ff5858 0%, #f09819 100%);
// $dashboard_background: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
// $dashboard_background: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
// $dashboard_background: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
// $dashboard_background: linear-gradient(to top, #dfe9f3 0%, white 100%);
// $dashboard_background: #f8f9fb;
$dashboard_background: #fbfcfe;

// $boxShadow: 0 0 10px rgba(0, 0, 0, 0.4);
// $boxShadow: 0 2px 0 rgba(0, 0, 0, .1);
$boxShadow: 0 0 5px 2px rgba(0,0,0,.10);
$boxShadowRight: 4px 0 2px -2px rgba(0,0,0,0.1);

$graphColor: #303030;

$lightTextColor: #f3f3f3;
$darkTextColor: #35394a;
$greyBackground: #f7f7f7;

$darkBackground: #35394a;
$lightBackground: #f8f9fc;

$inputColor: #323648;
$darkBorder: #393d50;

$OrangeLight: #f09819;
$OrangeMid: #e88b46;
$OrangeDark: #ff5858;

$Approved: #21cd92;


$LeftNav: #f8f9fd;
$TopNav: #fcfefd;
$borderNav: #e7ebf1;



// FONTE
$PrimaryFont: 'Open Sans', sans-serif;
$HeadFont: 'Bowlby One', cursive;
$timeFont: 'Vibur', cursive;